@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif, 돋움; }
#mycontent		{ background-color:#F5F5F5; float:left; width:69%; min-height:800px; padding-top: 40px;}
#mysideinfo		{ background-color:#F0FFFF; float:left; width:30%; min-height:800px; padding-top: 20px;}
<<<<<<< HEAD
#myfooter		{ background-color:#555555; clear:both; height:230px; }
=======

#myheader		{ 
	background-color:#EBEBE0; height:56px;
}

#mycontainer	{ width:100%; margin:0 auto; }
#myheader li a {
	color: white;
}
#myfooter		{ background-color:#555555; height:100px; }
>>>>>>> branch 'master' of https://github.com/seounghoon8218/yogiyo.git
	
#myheader a {text-decoration:none;}

/* mouse over link */
#myheader a:hover {color: orange; font-weight: bolder;}

#myheader .mynav {font-size: 13pt;}
.myrank {font-weight:bold; color:red; font-size:13pt;}
.myaligncenter {text-align:center;}

input:-ms-input-placeholder{ color:#a8a8a8; }
input::-webkit-input-placeholder{color: #a8a8a8;}
input::-moz-placeholder {color: #a8a8a8;}

#main-search-div{
	height: 40px;
	width: 400px;
	border: 1px solid #ff8040;
}
#main-search-input{
	font-size: 16px;
	width: 80%;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
#main-search-button{
	width: 20%;
	height: 42px;
	border: 0px;
	background: #ff8040;
	outline: none;
	float: right;
	color: #ffffff;
